run = "bash -c 'cd artifacts/sama-senegal && pnpm dev'"
entrypoint = "artifacts/sama-senegal/src/main.tsx"
modules = ["nodejs-20"]

[[ports]]
localPort = 4370

[[ports]]
localPort = 5173

[[ports]]
localPort = 5174
externalPort = 80

[[ports]]
localPort = 5175

[agent]
expertMode = true

[nix]
packages = ["haskellPackages.daemons"]

[userenv]

[userenv.shared]
